body {
	margin: 0px;
	padding: 0px;
}

.tileinfo {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 256px;
  height: 256px;
}

.tile {
  -webkit-transition-property: opacity, background-color;
  -webkit-transition-duration: 500ms, 150ms;
  -moz-transition-property: opacity, background-color;
  -moz-transition-duration: 500ms, 150ms;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 256px;
  height: 256px;
  z-index: 1000;
  border-width: 0px;
  border-style: solid;
  border-color: #FFFF00;
  margin: 0px;
}

.active {
  border-width: 4px;
  margin: -4px;
  z-index: 2000;
}

.infopane {
  width: 130px;
  height: 90px;
  font-size: 13px;
  text-align: center;
  margin: 0px 4px 0px 0px;
  padding: 2px 0px 2px 4px;
  border: 2px solid #AAAA00;
  background-color: #FFFF77;
}